*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}
.container{
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h1, h2, h3{
    margin-bottom: 15px;
    color: #444;
}   
p{
    margin-bottom: 15px;
}   
.row{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;

}
hr{
    border: 1px solid #ddd;
}
.game-info{
    display: flex;
    padding: 10px;
}

.game-info .game-name{
    flex: 1;
}
.game-info .cateogry{
    flex: 1;
    text-align: right;
}

.game-info .cateogry span{
    background: #007BFF;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9em;
}
.hangman-draw{
    flex: 1;
    background-color: #f8f8f8;
    padding: 10px;
    height: 324px;

}
.hangman-draw .the-draw{
    width: 60px;
    height: 250px;
    border-bottom: 4px solid #222;
    position: relative;
    margin: auto;
    display: none;

}
.hangman-draw .the-draw .the-stand{
    
    position: absolute;
    width: 4px;
    background-color: #222;
    height: 100%;
    left: 50%;
    margin-left: -2px;
    display: none;
    }

    .hangman-draw .the-draw .the-hang{
        display: none;
    }
.hangman-draw .the-draw .the-hang::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 4px;
    background-color: #222;
    top: 20px;
    left: 50%;
    
}

.hangman-draw .the-draw .the-hang::after{
    content: '';
    position: absolute;
    width: 4px;
    height: 20px;
    background-color: #222;
    top: 20px;
    left: 80px;
    margin-left: 48px;
    
}

.hangman-draw .the-rope{
    position: absolute;
    width: 70px;
    height: 70px;
    border: 4px dotted #222;
    border-radius: 50%;
    top: 40px;
    left: 50%;  
    margin-left: 65px;
    display: none;
}
.hangman-draw .head{
    position: absolute;
    width: 50px;
    height: 50px;
    border: 4px solid #222;
    border-radius: 50%;
    top: 50px;
    left: 70%;  
    margin-left: 65px;
    display: none;
}
.hangman-draw .body{
        position: absolute;
    width: 4px;
    height: 80px;
    background-color: #222;
    top: 100px;
    left: 110%;
    margin-left: 65px;
    display: none;

}
.hangman-draw .hands{
    display: none;
}

.hangman-draw .hands::before{
    content: '';
    position: absolute;
    width: 50px;
    height: 4px;
    background-color: #222;
    top: 120px;
    left: 137%;
    transform: rotate(20deg);
    

}


.hangman-draw .hands::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 4px;
    background-color: #222;
    top: 120px;
    left: 224%;
    transform: rotate(-20deg);
    
}

.hangman-draw .legs{
    display: none;
}
.hangman-draw .legs::before{
        content: '';
    position: absolute;
    width: 50px;
    height: 4px;
    background-color: #222;
    top: 190px;
    left: 146%;
    transform: rotate(144deg);
    

}
.hangman-draw .legs::after{
   content: '';
    position: absolute;
    width: 50px;
    height: 4px;
    background-color: #222;
    top: 193px;
    left: 214%;
    transform: rotate(42deg);
    
}

.hangman-draw.wrong-1 .the-draw,
.hangman-draw.wrong-2 .the-stand,
.hangman-draw.wrong-3 .the-hang,
.hangman-draw.wrong-4 .the-rope,
.hangman-draw.wrong-5 .head,
.hangman-draw.wrong-6 .body,
.hangman-draw.wrong-7 .hands,
.hangman-draw.wrong-8 .legs{
    display: block;
}


.letters{
    flex: 1;
    padding: 20px;
    text-align: center;
}
.letters.finished{
    pointer-events: none;
    opacity: .6;
}

.letters .letter-box.clicked{
    background-color: #222;
    opacity: .2;
    pointer-events: none;
}

.letter-box{
    width: 55px;
    height: 55px;
    display: inline-block;
    background-color: #009688;
    color: #fff;
    line-height: 55px;
    margin: 5px;
    font-size: 1.5em;
    cursor: pointer;
    user-select: none;
    border-radius: 5px;

}

.letters-guess{
    margin: 10px auto;
    background-color: #eee;
    padding: 20px;
    min-height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.letters-guess span{
    text-align: center;
    width: 60px;
    font-size: 24px;
    border-bottom: 4px solid #222;
    line-height: 60px;
    margin-right: 10px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #fdfdfd;
    transition: 0.3s;

}
.letters-guess span.with-space{
    position: relative;
    background-color: none;
    border-bottom: none;
}
.letters-guess span.with-space::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: #222;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

#restart{
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    text-align: center;
}